// TODO: this file is not getting picked up by prettier, instead it's picking package.json's prettier object
{
  "extends": ["prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "arrow-body-style": "off",
    "prefer-arrow-callback": "off",
    "tabWidth": 4,
    "tabs": false,
    "singleQuote": true,
    "semicolon": true,
    "quoteProps": "preserve",
    "bracketSpacing": false
  }
}
